.list-layout-pokemont-list{
    width: 100vw;
    max-width: 100%;
    min-height: 400px;
    display: flex;
}

.title-pokemont-list{
    margin: 0 0 30px;
}

.button-more{
    font-family: 'Sigmar One', cursive;
    border: none;
    background: black;
    color: white;
    outline: none;
    box-shadow: -2px 2px 0px 0px black;
    border: 1px solid white;
    transition: 0.3s;
    margin: 36px 0;
}

.button-more:hover{
    background: white;
    color: black;
    border: 1px solid black;
    box-shadow: -2px 2px 0px 0px black;
    cursor: pointer;
}

@media (max-width: 500px) {
    .list-layout-pokemont-list{
        flex-direction: column;
        align-items: center;
        min-height: 400px;
    }
}

@media (min-width: 501px) {
    .list-layout-pokemont-list{
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}