footer{
    background: rgb(177, 122, 202);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.game-freak-logo {
    height: 100px;
}